#!/bin/bash
set -eux

export DEBIAN_FRONTEND=noninteractive

apt-get update -y
apt-get install -y apache2 php php-mysql php-redis php-curl php-gd php-mbstring php-xml php-xmlrpc php-soap php-intl php-zip libapache2-mod-php unzip wget

systemctl enable apache2
systemctl start apache2

cd /tmp
wget https://wordpress.org/latest.tar.gz
tar -xzf latest.tar.gz

rm -rf ${wordpress_path}/index.html || true
cp -r wordpress/* ${wordpress_path}/

chown -R www-data:www-data ${wordpress_path}
find ${wordpress_path} -type d -exec chmod 755 {} \;
find ${wordpress_path} -type f -exec chmod 644 {} \;

cp ${wordpress_path}/wp-config-sample.php ${wordpress_path}/wp-config.php

sed -i "s/database_name_here/${db_name}/" ${wordpress_path}/wp-config.php
sed -i "s/username_here/${db_user}/" ${wordpress_path}/wp-config.php
sed -i "s/password_here/${db_password}/" ${wordpress_path}/wp-config.php
sed -i "s/localhost/${db_host}/" ${wordpress_path}/wp-config.php

cat <<'EOF' >> ${wordpress_path}/wp-config.php

define('FS_METHOD', 'direct');
define('WP_CACHE', true);
define('WP_REDIS_HOST', '${redis_host}');
define('WP_REDIS_PORT', 6379);
EOF

a2enmod rewrite

cat >/etc/apache2/sites-available/000-default.conf <<EOF
<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    DocumentRoot ${wordpress_path}

    <Directory ${wordpress_path}>
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog $${APACHE_LOG_DIR}/error.log
    CustomLog $${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
EOF

systemctl restart apache2
